
    LAYER
		NAME "hurricane_forecast_layer"
		METADATA
			"ows_title" "hurricane_forecast_layer"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from (select
            row_number() OVER () AS gid,
            hazard_event.id as id,
            geometry,
            depth_class
            from hazard_event
            inner join hazard_map on hazard_event.flood_map_id = hazard_map.id
            inner join hazard_areas on hazard_map.id = hazard_areas.flood_map_id
            inner join hazard_area on hazard_areas.flooded_area_id = hazard_area.id) as subquery
         using unique gid using srid=4326"

		CLASS
			NAME "TD"
			EXPRESSION ([depth_class] <= 7 AND [depth_class] > 4)
			STYLE
				OPACITY 30.0
				COLOR "#fbfbfb"
			END
		END

		CLASS
			NAME "TS"
			EXPRESSION ([depth_class] <= 22 AND [depth_class] > 7)
			STYLE
				OPACITY 30.0
				COLOR "#fcd1d1"
			END
		END

		CLASS
			NAME "H1: Very dangerous winds will produce some damage"
			EXPRESSION ([depth_class] <= 34 AND [depth_class] > 22)
			STYLE
				OPACITY 30.0
				COLOR "#fda7a7"
			END
		END

		CLASS
			NAME "H2: Extremely dangerous winds will cause extensive damage"
			EXPRESSION ([depth_class] <= 43 AND [depth_class] > 34)
			STYLE
				OPACITY 30.0
				COLOR "#fd7d7d"
			END
		END

		CLASS
			NAME "H3 (major): Devastating damage will occur"
			EXPRESSION ([depth_class] <= 52 AND [depth_class] > 43)
			STYLE
				OPACITY 30.0
				COLOR "#fe5353"
			END
		END

		CLASS
			NAME "H4 (major): Catastrophic damage will occur"
			EXPRESSION ([depth_class] <= 67 AND [depth_class] > 52)
			STYLE
				OPACITY 30.0
				COLOR "#ff2929"
			END
		END

		CLASS
			NAME "H5 (major): Catastrophic damage will occur"
			EXPRESSION ([depth_class] <= 82 AND [depth_class] > 67)
			STYLE
				OPACITY 30.0
				COLOR "#ff0000"
			END
		END
	END
