
    LAYER
		NAME "hurricane_exposed_buildings"
		METADATA
			"ows_title" "hurricane_exposed_buildings"
		END
		STATUS ON
		TYPE POLYGON
		CONNECTIONTYPE postgis
		CONNECTION "host={{ POSTGRES_HOST }} port={{ POSTGRES_PORT }} dbname={{ POSTGRES_DB }} user={{ POSTGRES_USER }} password={{ POSTGRES_PASS }}"
		DATA "geometry from mv_flood_event_buildings using unique id"

		CLASS
			NAME "Exposed Buildings (Vulnerability Score)"
			EXPRESSION ([depth_class] = 0)
			STYLE
				WIDTH 1
				OPACITY 0.0
				COLOR "#4a98e1"
			END
		END

		CLASS
			NAME "Vulnerability: Low - hazard level >= H3 (major)"
			EXPRESSION (([depth_class] <= 82 AND [depth_class] > 43) AND ([total_vulnerability] <= 0.3))
			STYLE
				OPACITY 100.0
				COLOR "#cbfbc5"
				OUTLINECOLOR "#ff0000"
				OUTLINEWIDTH 0.6
			END
		END

		CLASS
			NAME "Vulnerability: Low - hazard level  < H3 (major)"
			EXPRESSION (([depth_class] <= 43 AND [depth_class] > 4) AND ([total_vulnerability] <= 0.3))
			STYLE
				OPACITY 100.0
				COLOR "#cbfbc5"
				OUTLINECOLOR "#232323"
				OUTLINEWIDTH 1.0
			END
		END

		CLASS
			NAME "Vulnerability: Medium - hazard level >= H3 (major)"
			EXPRESSION ((([depth_class] <= 82 AND [depth_class] > 43) AND ([total_vulnerability] > 0.3)) AND ([total_vulnerability] <= 0.6))
			STYLE
				OPACITY 100.0
				COLOR "#eb8683"
				OUTLINECOLOR "#ff0000"
				OUTLINEWIDTH 0.6
			END
		END

		CLASS
			NAME "Vulnerability: Medium - hazard level  < H3 (major)"
			EXPRESSION ((([depth_class] <= 43 AND [depth_class] > 4) AND ([total_vulnerability] > 0.3)) AND ([total_vulnerability] <= 0.6))
			STYLE
				OPACITY 100.0
				COLOR "#eb8683"
				OUTLINECOLOR "#232323"
				OUTLINEWIDTH 1.0
			END
		END

		CLASS
			NAME "Vulnerability: High - hazard level >= H3 (major)"
			EXPRESSION (([depth_class] <= 82 AND [depth_class] > 43) AND ([total_vulnerability] > 0.6))
			STYLE
				OPACITY 100.0
				COLOR "#e53123"
				OUTLINECOLOR "#ff0000"
				OUTLINEWIDTH 0.6
			END
		END

		CLASS
			NAME "Vulnerability: High - Hazard level  <  H3 (major)"
			EXPRESSION (([depth_class] <= 43 AND [depth_class] > 4) AND ([total_vulnerability] > 0.6))
			STYLE
				OPACITY 100.0
				COLOR "#e53123"
				OUTLINECOLOR "#232323"
				OUTLINEWIDTH 1.0
			END
		END
	END
